@model ITProductECommerce.ViewModels.CategoryVM

@{
    ViewData["Title"] = "EditCategory";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Edit Category</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="AdminPanel" asp-action="Index">Admin Panel</a></li>
        <li class="breadcrumb-item"><a asp-controller="AdminPanel" asp-action="CategoryPanel">Category Panel</a></li>
        <li class="breadcrumb-item active text-white">Edit Category</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Category's infomation</h1>
        <form asp-controller="AdminPanel" asp-action="EditCategory" method="post" enctype="multipart/form-data">
            <div class="row-g5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <input asp-for="CategoryId" type="hidden" />
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Category's name</label><sup>*</sup>
                                <input asp-for="@Model.CategoryName" type="text" class="form-control">
                                <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Alias</label><sup>*</sup>
                                <input asp-for="@Model.Alias" type="text" class="form-control">
                                <span asp-validation-for="@Model.Alias" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Description</label><sup>*</sup>
                                <input asp-for="@Model.Description" type="text" class="form-control">
                                <span asp-validation-for="@Model.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <label class="form-label my-3">Category Picture</label>
                    <div id="edit-container">
                        <img id="profileImage" src="~/static/edit-image-default-img.png" />
                    </div>
                    <input class="pt-3" id="imageUpload" type="file" name="Image" />
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                    <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-50 text-primary">Summit</button>
                    @if (ViewBag.Message != null)
                    {
                        <script type="text/javascript">
                        @*$(document).ready(function(){alert('@ViewBag.Message');});*@
                            window.onload = function () {
                                alert("@ViewBag.Message");
                            };
                        </script>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        imageUpload.onchange = evt => {
            const [file] = imageUpload.files
            if (file) {
                profileImage.src = URL.createObjectURL(file)
            }
        }
    </script>
}