@model IEnumerable<ITProductECommerce.ViewModels.CartItemVM>

@{
    ViewData["Title"] = "Checkout";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Cart" asp-action="Index">Cart</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form method="post" asp-controller="Cart" asp-action="Checkout">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-check my-3">
                        <input type="checkbox" class="form-check-input" id="IsUser" name="IsUser" value="false">
                        <label class="form-check-label" for="IsUser">Use your profile info?</label>
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Receiver's Name'<sup>*</sup></label>
                        <input type="text" name="ReceiverName" class="form-control">
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Address <sup>*</sup></label>
                        <input type="text" name="Address" class="form-control" placeholder="House Number Street Name">
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Phone Number<sup>*</sup></label>
                        <input type="text" name="PhoneNumber" class="form-control">
                    </div>
                    <hr>
                    <div class="form-item">
                        <textarea name="Note" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Oreder Notes (Optional)"></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="~/img/Products/@item.ImageURL" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                            </div>
                                        </th>
                                        <td class="py-5">@item.ProductName</td>
                                        <td class="py-5">@item.Price</td>
                                        <td class="py-5">@item.Quantity</td>
                                        <td class="py-5">@item.Total</td>
                                    </tr>
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Subtotal</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">@Model.Sum(p => p.Total).ToString("#,##0.00")</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-4">Shipping</p>
                                    </td>
                                    <td colspan="3" class="py-5">
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping" checked>
                                            <label class="form-check-label" for="Shipping-1">Free Shipping</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-2">Flat rate: $0.00</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-3">Local Pickup: $0.00</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$@Model.Sum(p => p.Total).ToString("#,##0.00")</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center py-3">
                        <div class="col-12">
                            <p class="text-start text-dark">Choose to pay directly upon receipt from our partners or shipping services!</p>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-1">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center py-3">
                        <div class="col-12">
                            <p class="text-start text-dark text-center">OR</p>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center py-3">
                        <div class="col-12">
                            <p class="text-start text-dark">Make your payment easily with online payment method, please choice one of services below!</p>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-1">
                        <div id="paypal-button-container" onclick="javascript: this.form.submit();"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
@section Scripts{
    @*Paypal script for import components*@
    <script src="https://sandbox.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientId"></script>

    <script>
        $(document).ready(function () {
            $("#IsUser").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $(".delivery-info").addClass("d-none");
                }
                else {
                    $(this).val(false);
                    $(".delivery-info").removeClass("d-none");
                }
            });
        });

        var chat = localStorage.getItem("chatVisible");
        if (chat == "True") {
            $(".chat-popup").show();
        }
        else {
            $(".chat-popup").hide();
        }

        //Paypal script for css and javascript on create and approve
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'gold',
                shape: 'rect',
                label: 'paypal'
            },

            createOrder: (data, actions) => {
                return fetch("/Cart/create-paypal-order", {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then((error) => { throw error; });
                    }

                    return response.json();
                }).then((order) => order.id)
                    .catch(error => alert(error.message));
            },

            onApprove: (data, actions) => {
                // Capture the funds from the transaction.
                return fetch(`/Cart/capture-paypal-order?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then((err) => { throw error });
                        window.location.href = "/Cart/PaymentFailed";
                    }

                    //Redirect to successful action when success
                    window.location.href = "/Cart/PaymentSuccess";

                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');

    </script>
}
